/.idea/
/venv/
/ttest.py
/python/Working_professionally_with_Python/Regular_expressions/phonebook.csv
/python/Working_professionally_with_Python/Decorators/main.log
/python/Working_professionally_with_Python/Decorators/log_1.log
/python/Working_professionally_with_Python/Decorators/log_2.log
/python/Working_professionally_with_Python/Decorators/log_3.log
/python/Working_professionally_with_Python/Decorators/log_scraping.log
